<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIuDbEI_jP0NHd4hfQ6KdTxKVgE1IvPro</string>
	<key>GCM_SENDER_ID</key>
	<string>683921449312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boaz606.storyteller</string>
	<key>PROJECT_ID</key>
	<string>storyteller-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>storyteller-firebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683921449312:ios:eeaa37d4d7799fbe937e05</string>
</dict>
</plist>